<div align=center>
<h1>Uredi Nepremicnino</h1>
</div>

<%= render 'form', nepremicnine: @nepremicnine %><br>
<div align=center>
<%= link_to 'Back', nepremicnines_path, class: "btn btn-danger"%>
</div>

