<style>

.jumbotron{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.homify.com%2Fimages%2Fa_0%2Cc_fill%2Cf_auto%2Ch_900%2Cq_auto%2Cw_1920%2Fv1546441322%2Fp%2Fphoto%2Fimage%2F2851638%2Fluxury_modern_living_room_interior_design_in_Dubai_house%2Fmodern-living-room-white-fancy-house-design.jpg&f=1&nofb=1");
   margin:0;
}


</style>


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3" style="color:white; text-shadow:2px 2px #000000 ">Najdi svoj idealen dom</h1>
      <p style="color:white; text-shadow:2px 2px #000000 ">Poišči svoj miren kraj</p>
      <p><a class="btn btn-primary btn-lg" href="/posts" role="button">Izvej več</a></p>
    </div>
  </div>


  <section id="latest-properties">
  

  <div class="container">
  <h3>Nepremicnine:</h3>
    <div class="row">

    
      <%= render "nepremicnines/latest_nepremicnines"%>
    </div>
  </div>

  </section>



  </div> <!-- /container -->

</main>
